@import "bulma-vars";
@import "~bulma/sass/utilities/derived-variables";

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .has-border-#{$name} {
    border-radius: 0.25em;
    border-width: 0.125em;
    border-style: solid;
    border-color: $color !important;
  }
}

.no-border-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
