@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";

$enginehub-purple: #4b3570;

$scheme-main: $grey-darker;
$scheme-main-bis: $grey-light;
$scheme-main-ter: $grey-lighter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;

$primary-dark: #008672;
$info-light: lighten($cyan, 10%);

$background: #F1F1F1;

$code: darken($red, 30%);
$pre: $code;
$code-padding: 0.125em;

code {
  border-radius: 0.25em;
}

$text: $white;
$text-strong: $white-ter;

$link: $green;
$link-hover: lighten($green, 30%);

$navbar-background-color: $enginehub-purple;

@import "~bulma/bulma";
